@using MetaWork.Data.ViewModel
@model List<DuAnViewModel>
@{
    Layout = null;
}
@if (Model != null && Model.Count > 0)
{
    foreach (var duan in Model)
    {
        if (!string.IsNullOrEmpty(duan.TenVietTat))
        {
            <li class="person channelChat" data-chat="person1" id="@duan.DuAnId">
                <h4 class="name">@duan.TenVietTat</h4>
                <span class="status online"></span>
                @*<span class="time">10:55 AM</span>*@
                @*<span class="preview">I was wondering...</span>*@
            </li>
        }

    }
}
