@{
    Layout = null;
}
@using MetaWork.Data;
@using MetaWork.Data.Provider;
@{
    NguoiDung userLoged = new NguoiDung();
    if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {
        string username = FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name;
        userLoged = new NguoiDungProvider().GetUserByUsername(username);
    }
    else
    {
        userLoged = null;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/Assets/images/favicon_1.ico">

    <title>Ubold - Responsive Admin Dashboard Template</title>

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/Assets/js/modernizr.min.js"></script>

</head>
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>

    <div class="wrapper-page">
        <div class="card-box">
            <div class="panel-heading">
                @*<h2 class="text-center"><strong class="text-custom"> UBold</strong> <br /></h2>*@
                <div class="text-center m-b-15">
                    <img src="" height="50" />
                </div>
                <h3 class="text-center"> Đổi mật khẩu tài khoản</h3>
            </div>

            <div class="panel-body">
                <div class="form-horizontal m-t-20" id="change-password">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" id="old_password" name="oldPassword" type="password" placeholder="Mật khẩu cũ.." />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" id="new_password" name="newPassword" type="password" placeholder="Mật khẩu mới.." />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" id="confirm_password" name="confirmPassword" type="password" placeholder="Xác nhận mật khẩu mới.." />
                        </div>
                    </div>

                    <div class="form-group text-center m-t-30">
                        <div class="col-xs-12">
                            <a onclick="changePassword()" class="btn btn-success btn-block text-uppercase waves-effect waves-light">
                                Đổi mật khẩu
                            </a>
                        </div>

                        <div class="col-xs-12 m-t-10">
                            <a href="@Url.Action("Index","Home")" class="btn btn-white btn-block text-uppercase waves-effect waves-light">
                                Trang chủ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="~/Assets/js/jquery.min.js"></script>
<script src="~/Assets/js/bootstrap.min.js"></script>
<script src="~/Assets/js/detect.js"></script>
<script src="~/Assets/js/fastclick.js"></script>
<script src="~/Assets/js/jquery.slimscroll.js"></script>
<script src="~/Assets/js/jquery.blockUI.js"></script>
<script src="~/Assets/js/waves.js"></script>
<script src="~/Assets/js/wow.min.js"></script>
<script src="~/Assets/js/jquery.nicescroll.js"></script>
<script src="~/Assets/js/jquery.scrollTo.min.js"></script>

<script src="~/Assets/js/jquery.core.js"></script>
<script src="~/Assets/js/jquery.app.js"></script>


<script src="~/Assets/plugins/notifyjs/js/notify.js"></script>
<script src="~/Assets/plugins/notifications/notify-metro.js"></script>

<script>
    function changePassword() {
        var old = '@MetaWork.WorkTime.EndCode.Decrypt(userLoged.MatKhau.ToString())';
        var oldPassword = $("#old_password").val();
        var newPassword = $("#new_password").val();
        var confirmPassword = $("#confirm_password").val();

        if (oldPassword == "" || newPassword == "" || confirmPassword == "")
        {
            $.Notification.autoHideNotify('error', 'top right', 'Chú ý', 'Vui lòng nhập đầy đủ thông tin !');
        }
        else if (oldPassword != old)
        {
            $.Notification.autoHideNotify('error', 'top right', 'Chú ý', 'Mật khẩu không chính xác !');
        }
        else if (oldPassword == newPassword)
        {
            $.Notification.autoHideNotify('error', 'top right', 'Chú ý', 'Mật khẩu mới không được trùng mật khẩu cũ !');
        }
        else if (newPassword != confirmPassword)
        {
            $.Notification.autoHideNotify('error', 'top right', 'Chú ý', 'Xác nhận mật khẩu không thành công !');
        }
        else
        {
            $.ajax({
                url: "/User/ChangePassword",
                data: {
                    id: '@userLoged.NguoiDungId',
                    newPassword: newPassword,
                },
                context: document.body,
                type: "POST",
                dataType: "html",
                async: false,
                success: function (data) {
                    $.Notification.autoHideNotify('success', 'top right', 'Thành công', 'Mật khẩu của bạn đã được thay đổi !');
                    setTimeout(function () {
                        var url = '@Url.Action("Login", "User")';
                        window.location.href = url;
                    }, 1500);
                },
                error: function (xhr, status) {
                    $.Notification.autoHideNotify('error', 'top right', 'Chú ý', 'Cập nhật thất bại !');
                },
                complete: function (xhr, status) {
                    //$('#showresults').slideDown('slow')
                }
            });
        }
    }
</script>
